.alert {
  -fx-border-color:black;
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.alert > .button-bar > .container {
  -fx-background-color:black;
}

.alert > .content.label {
   /*-fx-padding: 0.5em 0.5em 0.5em 0.5em;*/
   -fx-background-color: black;
   -fx-text-fill:white;
   -fx-font-size:15.0px;
   -fx-font-weight:bold;
}

/**Costumization of DialogPane Header**/
/*
.alert:header .header-panel {
  -fx-background-color: white;
}
*/
.alert:header .header-panel .label{
  	-fx-background-color: black;
	-fx-background-radius:10px;
  	-fx-text-fill:#ff0095;
  	-fx-font-size:15.0px;
}

.alert:no-header .graphic-container {
-fx-background-color: black;
    -fx-padding: 0.833em 0 0 0.833em; /* 10px 0px 0px 10px */
}

/**Costumization of Buttons**/

.alert .button{
   -fx-background-color:#ff0095;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   /*-fx-effect: dropshadow(three-pass-box, white, 10.0, 0.0, 0.0, 0.0);*/
   -fx-cursor:hand;
   -fx-border-radius: 0px;
	-fx-background-radius: 0px;
 }

.alert .button:hover{     
  -fx-background-color:white;
  -fx-text-fill:#ff0095;
  -fx-font-weight:bold; 
 }
 
 .alert .button:default {
    -fx-effect: dropshadow(three-pass-box, white, 10.0, 0.0, 0.0, 0.0);
}

 
 
 
.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: url('file:src/org/unibl/etf/img/alert-confirmation.png');
}

.alert.information.dialog-pane {
    -fx-graphic: url('file:src/org/unibl/etf/img/alert-information.png');
}

.alert.error.dialog-pane {
    -fx-graphic: url('file:src/org/unibl/etf/img/alert-error.png');
}

.alert.warning.dialog-pane {
    -fx-graphic: url('file:src/org/unibl/etf/img/alert-denied.png');
}

.alertDelete.confirmation.dialog-pane {
    -fx-graphic: url('file:src/org/unibl/etf/img/alert-delete.png');
}